/* layout for desktops ( pixels > 1024px)*/

body {
    background-color: indianred;
    color: antiquewhite;
  }

a {
  text-decoration: none;
  color: antiquewhite;
}

a:hover{
  text-decoration: underline;
}

p {
  line-height: 140%;
}

li {
  list-style-type: none;
  line-height: 140%;
}

.image {
  height: auto;
  width: 20%;
  display: inline-block;
  padding: 10px;
}

.grid {
  text-align: center;
}

.propic {
  min-width: 25%;
  min-height: 25%;
  max-width: 32%;
  max-height: 32%;
  border-radius: 70%;
  display: block;
}

.menubar {
  float: right;
}

.website_title {
  display: inline-block;
  font-weight: bold;
  font-size: 220%;
}

.page_title {
  border: solid tan 2px;
  font-size: 140%;
  background-color: orange;
  padding: 0px 0px;
}

.article_pic {
  width: 50%;
  float: left;
  padding-right: 0.8em;

}

.homepage {
  color: antiquewhite;
  font-family: monospace;
  text-align: left;
}


/* Smartphones*/
@media only screen and (max-device-width : 768px) {
  body {
    background-color: darkred;
    text-align: center;
  }

  .propic {
    text-align: center;
    margin: auto;
    width: 70%;
  }

  * {
    height: auto;
    width: auto;
    font-size-adjust: auto;
  }
}

/* Tablets*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body {
    background-color: darkgray;
  }

  * {
    height: auto;
    width: auto;
    font-size-adjust: auto;
  }
}
